<% content_for :header_image do %>
    <%= render "header_image" %>
<% end %>


<% @blog_posts.each do |blog_post| %>
    <div class="entry">
        <h2 class="entry-title">
            <%= link_to blog_post.title, show_post_path(blog_post) %>
        </h2>
        <div class="entry-summary">
            <%= blog_post.summary %>
        </div>
        <div class="entry-meta">
            <%= blog_post.created_at.strftime "%B %d, %Y" %>
            BY
            <%= link_to author_page_path do %>
                MARCIN SKIBA
            <% end %>
        </div>
    </div> 
<% end %>
