<% if @blog_post.comments.length > 0 %>
    <div class="comments">
        <div class="heart-separator"></div>
        <h3 class="comment-section-header">
            Comments
        </h3>
        <% @blog_post.comments.each do |comment| %>
            <div class="comment">
                <div class="avatar">
                    <img src="/assets/avatar.png" />
                </div>
                
                <div class="comment-body">
                    <h4 class="author">
                        <% if comment.website.blank? %>
                            <%= comment.name %>
                        <% else %>
                            <a href="<%= comment.website %>" target="_blank">
                                <%= comment.name %>
                            </a>
                        <% end %>
                    </h4>

                    <div class="comment-date">
                        <%= comment.created_at.strftime "%B %d, %Y at %H:%M" %>
                    </div>

                    <div class="comment-content">
                        <%= comment.comment %>
                    </div>
                    
                </div>
                <div class="clearfix"></div>
            </div>
        <% end %>
    </div>
<% end %>