<div id="slider-glass-panel"></div>



<div id="menu-slider-horizontal-bar">
    <div class="menu-slider-title">
        Menu
    </div>
    <button class="c-hamburger c-hamburger--htra swipe-button">
        <span>toggle menu</span>
    </button>
</div>



<div id="menu-slider">
    <div class="grab-panel"></div>
    <button class="c-hamburger c-hamburger--htra swipe-button">
        <span>toggle menu</span>
    </button>
    <div class="menu-content">
        <%= link_to 'Coding Buzz', root_path, class: 'site-title' %>

        <div class="site-description">
            where (software) craftsmanship meets passion
        </div>

        <nav class="site-navigation">
            <ul class="nav">
                <li class="nav-item">
                    <%= link_to root_path, class: "#{'active' if @active_menu_item == 'home'}" do %>
                        <i class="fa fa-home"></i> Home
                        <span class="item-description">
                            my blog's home page
                        </span>
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to author_page_path, class: "#{'active' if @active_menu_item == 'author'}" do %>
                        <i class="fa fa-user-secret"></i> Author
                        <span class="item-description">
                            read about me
                        </span>
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to contact_me_page_path, class: "#{'active' if @active_menu_item == 'contact_me'}" do %>
                        <i class="fa fa-envelope-o"></i> Contact me
                        <span class="item-description">
                            via e-mail or social media
                        </span>
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to feed_path(:rss), target: "_blank" do %>
                        <i class="fa fa-rss"></i> RSS feed
                        <span class="item-description">
                            stay in touch
                        </span>
                    <% end %>
                </li>

                

            </ul>
        </nav>

        <footer>
            <i class="fa fa-space-shuttle"></i> 2015 <i class="fa fa-space-shuttle fa-flip-horizontal"></i>
        </footer>
    </div>
</div>

