<!DOCTYPE html>
<html>
<head>
  <title>Bee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="viewport">
    <%= render "layouts/header_image" %>
    <div id="main-content-wrapper">
        <div id="content">
            <%= yield %>
        </div>
    </div>
    <%= render "layouts/menu_slider" %>
</div>

</body>
</html>
